* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Averia Serif Libre", cursive;
}

.difficulty-selector {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.difficulty-selector.hidden {
  opacity: 0;
}

#boardGameTimer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
  font-size: 54px;
}

.card {
  position: fixed;
  perspective: 1000px;
}

.card .inner {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.card.matched .back {
  background-color: #50c878;
}

.card .front,
.card .back {
  position: absolute;
  background: pink;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: solid white;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
  color: black;
}

.card .back {
  padding: 10px;
  background-color: #ead5a6;
  color: white;
  transform: rotateY(180deg);
}

.card .back img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
